index<br>
<br>
<form action="/loginCheck" method="get">
<table style="border: 1px solid">
    <tr>
        <td>id(adm)</td>
        <td><input type="text" name="id"></td>       
    </tr>
    <tr>
        <td>pwd(1234)</td>
        <td><input type="text" name="pwd"></td>       
    </tr>  
    <tr>
        <td></td>
        <td style="text-align: right;"><input type="submit" value="전송"></td>       
    </tr>          
</table>
</form>