<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<% if(nick != null) {%>
nick - <%=nick%> 로그인 상태입니다.
<a href="/session/logout">로그아웃</a>
<%}else{%>
    <form action="/session/login_check" method="post">
        <input type="text" name="id"><br>
        <input type="password" name="pwd"><br>
        <input type="submit" value="login">
    </form>
<%}%>
</body>
</html>