<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>SESSION MAIN PAGE</H1>
    <br><hr>
    <a href="/session/set_session">세션설정</a>
</body>
</html>