<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>SESSION INFO - 세션이 설정 되었습니다.</H1>
    <br><hr>
    <a href="/session/get_session">세션 확인</a>
    &nbsp;
    <a href="/session/del_session">세션 삭제</a>
</body>
</html>