<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>공지사항</h3><br>
    오전 05시 까지 업데이트 예정입니다.
    <br><hr>
    <input type="checkbox" id="chk" onClick="makeCookie()">
    <label for="chk">10초동안 열지않음</label>
    <script>
        function makeCookie(){
            location.href="/cookie/makeCookie"
            window.close;
        }
    </script>
</body>
</html>