<script>
    function test(){
        //location.href = "fetch01" //화면전체를 재로드
        fetch("/fetch01") //특정데이터만 주고받음
    }
</script>
<h1>일</h1><h1>이</h1><h1>삼</h1><h1>사</h1>
<h1>오</h1><h1>육</h1><h1>칠</h1><h1>팔</h1>
<button type="button" onclick="test()">클릭</button>
